---
layout: default
---

<div class="cnt-one-col">
  <section class="cnt-two-col__nav js-two-col-nav">
    {% include side-nav.html %}
  </section>
  <div class="page-wrap">
    <section class="sitemap">

      <h1>Sitemap</h1>

      <h2>Resources</h2>

      {% include side-nav/home.html %}

      <h2>Documentation</h2>

      {% include side-nav/documentation.html %}

      <h2>Guides</h2>

      {% include side-nav/guides.html %}
     
    </section>
  </div>
</div>

{% include footer.html %}
