---
layout: twoColumn
section: resources
type: article
title:  "Funding source verification"
description: "Programmatically verify a bank to initiate a bank transfer."
---

# Funding source verification

Before a Dwolla account or white label Customer is eligible to transfer money from their bank or credit union account they need to verify ownership of the account, either via Instant Account Verification (IAV) or micro-deposits. This article demonstrates how to verify a bank or credit union account using either of these options. **Please note:** IAV is a premium feature only available for white label Customers. For more information about white label and IAV, please [contact sales](https://www.dwolla.com/contact).

In this article we use the example of verifying a white label Customer's bank account and detail the interaction between Dwolla, your application, and the white label Customer.