<nav class="side-nav js-side-nav {% if page.url contains '/documentation' %}active{% endif %}">
	<section>
		{% assign filteredPages = site.pages | where:"section", "documentation" %}
		{% assign pages = filteredPages | group_by: "type" %}

		{% for pageGroup in pages %}
		<h6>{{pageGroup.name}}</h6>
		<ul>
			{% for item in pageGroup.items %}
			<li>
				{% capture second_level_dir %}{{ page.url | remove_first: '/documentation/' | split:'/' | first }}{% endcapture %}
				{% capture file_name %}{{ item.url | remove_first: '/documentation/' | remove_first: '.html' }}{% endcapture %}
				<a href="{{ item.url }}" {% if page.url == item.url or second_level_dir == file_name %}class="active"{% endif %}>
					{{ item.title }}
				</a>
				<ul>
					{% assign pages = site.pages | sort:'weight'  %}
					{% for subItem in pages %}
					{% if subItem.section == item.title and subItem.type == 'article' %}
					<li><a href="{{ subItem.url }}" {% if page.url == subItem.url %}class="active"{% endif %}>{{ subItem.title }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</section>
</nav>
