<section class="steps-nav" {% unless page.url contains '/guides/offsite-gateway' %}style="display:none"{% endunless %}>
    <h6>In this guide</h6>
    <ol>
        <li>
            <a href="/guides/offsite-gateway" {% if page.guide.step == 'overview' %}class="active"{% endif %}>Overview: Off-Site Gateway</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/offsite-gateway/direct-submit.html" {% if page.guide.step == '1' %}class="active"{% endif %}>Direct submit option</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/offsite-gateway/server-to-server.html" {% if page.guide.step == '2' %}class="active"{% endif %}>Server-to-server option</a>
            <div class="dot"></div>
        </li>
    </ol>
</section>