<nav class="side-nav js-side-nav {% if page.url contains '/home' %}active{% endif %}">
	<section>
		{% assign filteredPages = site.pages | where:"section", "home" %}
		{% assign pages = filteredPages | group_by: "type" %}

		{% for pageGroup in pages %}
		<h6>{{pageGroup.name}}</h6>
		<ul>
			{% assign sortedPages = pageGroup.items | sort:'weight'  %}
			{% for item in sortedPages %}
			<li>
				{% capture second_level_dir %}{{ page.url | remove_first: '/home/' | split:'/' | first }}{% endcapture %}
				{% capture file_name %}{{ item.url | remove_first: '/home/' | remove_first: '.html' }}{% endcapture %}
				<a href="{{ item.url }}" {% if page.url == item.url or second_level_dir == file_name %}class="active"{% endif %}>
					{{ item.title }}
				</a>
				<ul>
					{% assign pages = site.pages | sort:'weight'  %}
					{% for subItem in pages %}
					{% if subItem.section == item.title and subItem.type == 'article' %}
					<li>
						<a href="{{ subItem.url }}" {% if page.url == subItem.url %} class="active" {% endif %}>
						{{ subItem.title }}
						</a>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endfor %}
		</ul>
		{% endfor %}
	</section>

    <section class="side-nav__options" {% unless page.url contains '/guides/' %} style="display:none" {% endunless %}>
        <h6>Other Resources</h6>
        <ul>
            <li class="external-link">
            	<a href="https://hatters.hubofallthings.com" target="_blank">
            		<span class="icon-sidenav-option">Get a HAT</span>
            	</a>
            </li>
      		<li class="external-link">
      			<a href="http://forum.hatcommunity.org/c/developers" target="_blank">
      				<span class="icon-sidenav-option">Developer Forum</span>
      			</a>
      		</li>
        </ul>
    </section>
</nav>
