<nav class="side-nav js-side-nav {% if page.url contains '/tutorials' %}active{% endif %}">
	<section>
		<ul>
			{% for item in site.pages %}

			{% if item.section == 'tutorials' and item.type == 'tutorials' %}
			<li>
				{% capture second_level_dir %}{{ page.url | remove_first: '/tutorials/' | split:'/' | first }}{% endcapture %}
				{% capture file_name %}{{ item.url | remove_first: '/tutorials/' | remove_first: '.html' }}{% endcapture %}
				<a href="{{ item.url }}" {% if page.url == item.url or second_level_dir == file_name %}class="active"{% endif %}>
					{{ item.title }}
				</a>
				<ul>
					{% assign pages = site.pages | sort:'weight'  %}
					{% for subItem in pages %}
					{% if subItem.section == item.title and subItem.type == 'article' %}
					<li><a href="{{ subItem.url }}" {% if page.url == subItem.url %}class="active"{% endif %}>{{ subItem.title }}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</section>
</nav>
