---
layout: page
title: Documentation
bodyClass: home
description: Developer docs for our Hub of All Things API.
---
<div class="cnt-one-col">
    <section class="cnt-two-col__nav js-two-col-nav">
        {% include side-nav.html %}
    </section>
    <section class="cnt-one-col__banner banner">
        <div class="page-wrap">
            <img class="top-image" alt="" src="/images/header-access-api.svg">
            <h1>Your own Private HAT Microserver</h1>
            <a href="/guides/" class="btn primary large">View development guides</a>
        </div>
        <div class="banner__background"></div>
    </section>
    <section class="hover-box cnt-one-col__hover-box page-wrap">
        <h2>Learn more about HAT</h2>

        <iframe width="100%" height="500" style="margin: 25px 0 50px 0;" src="https://www.youtube.com/embed/aZBLTxS-RQc?showinfo=0" frameborder="0" allowfullscreen></iframe>

        <section class="split-options">
            <div>
                <h3 class="icon-home-sandbox">Get a sandbox HAT</h3>

                <a href="https://hubat.net/" class="btn secondary large">Get started</a>
            </div>
            <div>
                <h3 class="icon-home-dev-community">Developer Community</h3>
                <a href="https://hubofallthings.slack.com/join/shared_invite/enQtNTIzNzEzNDAwOTYxLWFiNjNmZjE0NzY4OWI0YjJkM2ZmMTQ2NjM0Mzk4ZGI2ZGUzYzNkODM2NjA5MDg3MmQzNmU1MDk2OTU2YTI3MmQ" class="btn secondary large" target="_blank">Join Slack</a>
            </div>
        </section>
    </section>
    <div class="page-wrap">
        {% include reach-out.html %}
    </div>
</div>
