<footer>
    <div class="page-wrap">
        <nav>
            <h6>Info</h6>
            <a href="https://www.dwolla.com/about">Product</a>
            <a href="https://developers.dwolla.com">Documentation</a>
            <a href="https://www.dwolla.com/bank-transfers">Bank transfers</a>
            <a href="https://www.dwolla.com/same-day-ach">Same day transfers</a>
            <a href="https://www.dwolla.com/fisync">FiSync</a>
            <a href="https://www.dwolla.com/pricing?b=footer">Pricing</a>
            <a href="https://www.dwolla.com/contact?b=footer">Let's talk</a>
        </nav>
        <nav>
            <h6>Account</h6>
            <a href="https://www.dwolla.com/register">Sign up</a>
            <a href="https://www.dwolla.com/login">Log in</a>
            <a href="http://help.dwolla.com">Support</a>
            <a href="https://www.dwolla.com/security">Security</a>
            <a href="https://www.dwolla.com/legal/privacy/">Privacy</a>
            <a href="https://www.dwolla.com/legal/tos/">Legal</a>
        </nav>
        <nav>
            <h6>Elsewhere</h6>
            <a href="https://twitter.com/dwolla">Twitter</a>
            <a href="https://www.facebook.com/dwolla">Facebook</a>
            <a href="https://www.linkedin.com/company/dwolla">Linkedin</a>
            <a href="https://github.com/dwolla">GitHub</a>
        </nav>
        <nav>
            <h6>Learn more</h6>
            <a href="https://www.dwolla.com/press">Press</a>
            <a href="https://www.dwolla.com/updates">Updates</a>
            <a href="https://www.dwolla.com/careers">Careers</a>
        </nav>
    </div>
</footer>
<section class="disclaimer">
    <div class="page-wrap">
        <h5>Financial institutions play an important role in the Dwolla network.</h5>
        <p>Dwolla, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your account in the Dwolla network are held in pooled accounts at Veridian Credit Union and Compass Bank. These funds are not eligible for individual insurance, including FDIC insurance and may not be eligible for share insurance by the National Credit Union Share Insurance Fund. Dwolla, Inc. is the operator of a software platform that communicates user instructions for funds transfers to Veridian Credit Union and Compass Bank.</p>
    </div>
</section>
<section class="copyright">
    <div class="page-wrap">
        <div>
            <span>© 2016 Dwolla, Inc.</span>
            <a href="https://www.dwolla.com/legal/about-our-financial-institution-partner/">Dwolla, Inc. is an agent of its Financial Institution Partner(s)</a>
        </div>
    </div>
</section>
