<footer>
    <div class="page-wrap">
        <nav>
            <h6>Product</h6>
            <a href="https://www.dwolla.com/access-api">Access API</a>
        </nav>
        <nav>
            <h6>Features</h6>
            <a href="https://www.dwolla.com/bank-transfers">Bank Transfers</a>
            <a href="https://www.dwolla.com/mass-payments-api">Mass Payments</a>
            <a href="https://www.dwolla.com/same-day-ach">Same Day ACH</a>
            <a href="https://www.dwolla.com/white-label">White Label</a>
            <a href="https://www.dwolla.com/ach-transfer-dashboard">Dashboard & Admin</a>
            <a href="https://www.dwolla.com/dwollajs-bank-verification">Instant Bank Account Verification</a>
        </nav>
        <nav>
            <h6>Account</h6>
            <a href="https://accounts.dwolla.com/interest">Sign up</a>
            <a href="https://www.dwolla.com/login">Log in</a>
            <a href="http://help.dwolla.com">Support</a>
            <a href="https://www.dwolla.com/security">Security</a>
            <a href="https://www.dwolla.com/legal/privacy/">Privacy</a>
            <a href="https://www.dwolla.com/legal/tos/">Legal</a>
        </nav>
        <nav>
            <h6>Case Studies</h6>
            <a href="https://www.dwolla.com/updates/case-study-delivery-platform-leverages-dwolla-ach-api-for-payouts/">On-Demand Payouts</a>
            <a href="https://www.dwolla.com/updates/case-study-instagram-ad-platform-leverages-dwolla-api-for-payouts/">Ad Platform</a>
            <a href="https://www.dwolla.com/updates/dwolla-case-study-featuring-goat-for-ach-payouts/">Marketplace Payouts</a>
            <a href="https://www.dwolla.com/updates/kill-bill-adds-dwolla-to-offer-subscription-billing-with-ach-payments/">Subscription Billing</a>
            <a href="https://www.dwolla.com/updates/case-study-how-a-leading-rental-management-platform-used-an-ach-api/">Rental Collection</a>
            <a href="https://www.dwolla.com/updates/case-study-how-sweep-uses-dwolla-ach-api-for-bank-transfers/">Savings Tool</a>
            <a href="https://www.dwolla.com/updates/solar-investing-platform-uses-dwolla-api-to-power-bank-transfers/">Investment Platform</a>
            <a href="https://www.dwolla.com/updates/case-study-clear-capital-streamlines-disbursements-with-dwolla/">B2B Disbursements</a>
        </nav>
        <nav>
            <h6>Learn more</h6>
            <a href="https://www.dwolla.com/contact">Let's talk</a>
            <a href="https://developers.dwolla.com">Developer Docs</a>
            <a href="https://www.dwolla.com/updates">Updates</a>
            <a href="https://www.dwolla.com/press">Press</a>
            <a href="https://www.dwolla.com/careers">Careers</a>
        </nav>
    </div>
</footer>
<section class="disclaimer">
    <div class="page-wrap">
        <h5>Financial institutions play an important role in the Dwolla network.</h5>
        <p>Dwolla, Inc. is an agent of Veridian Credit Union and Compass Bank and all funds associated with your account in the Dwolla network are held in pooled accounts at Veridian Credit Union and Compass Bank. These funds are not eligible for individual insurance, including FDIC insurance and may not be eligible for share insurance by the National Credit Union Share Insurance Fund. Dwolla, Inc. is the operator of a software platform that communicates user instructions for funds transfers to Veridian Credit Union and Compass Bank.</p>
    </div>
</section>
<section class="copyright">
    <div class="page-wrap">
        <div>
            <span>© 2016 Dwolla, Inc.</span>
            <a href="https://www.dwolla.com/legal/about-our-financial-institution-partner/">Dwolla, Inc. is an agent of its Financial Institution Partner(s)</a>
        </div>
    </div>
</section>
