<div class="header__primary js-two-col-header-primary">
    <div class="page-wrap">
        <div>
            <a href="https://www.dwolla.com" class="logo icon-logo-dwolla-white">Dwolla</a>
            <div class="hamburger">
                <a href="https://www.dwolla.com/contact?b=nav">Let's talk</a>
                <a class="btn primary js-hamburger">Menu</a>
            </div>
        </div>
        <nav class="js-hamburger-nav">
            <a href="https://www.dwolla.com/access-api">Product</a>
            <a href="/">Developer</a>
            <a href="https://www.dwolla.com/login">Log in</a>
            <a href="https://accounts.dwolla.com/interest">Sign up</a>
            <a class="btn primary" href="https://www.dwolla.com/contact?b=nav">Let's talk</a>
        </nav>
    </div>
</div>
