<div class="header__primary js-two-col-header-primary">
    <div class="page-wrap">
        <div>
            <a href="https://www.hubofallthings.com" class="logo icon-logo-hat-white">Hub of All Things</a>
            <div class="hamburger">
                <a href="https://hubofallthings.com/main/what-is-the-hat/">What is the HAT</a>
                <a class="btn primary js-hamburger">Menu</a>
            </div>
        </div>
        <nav class="js-hamburger-nav">
            <a href="https://www.hatdex.org/">Data Exchange</a>
            <a href="https://hatcommunity.org/">Community Foundation</a>
            <a href="/">Developers</a>
            <a href="https://hatresearch.org/">Research</a>
            <a class="btn primary" href="https://hubofallthings.com/">Learn More</a>
        </nav>
    </div>
</div>
