<nav class="header__secondary js-two-col-nav-toggle">
  {% if page.url == '/index.html' %}
  <div>
    {% else %}
    <div class="js-two-col-header-secondary">
      {% endif %}
      <div class="page-wrap">
        <a href="/home/" {% if page.url contains '/home/' %} class="active"{% endif %}>Resources</a>
        <a href="/guides/" {% if page.url contains '/guides/' %} class="active"{% endif %}>Guides</a>
        <a href="/documentation/" {% if page.url contains '/documentation/' %} class="active"{% endif %}>API docs</a>
        <!-- <a href="/tutorials/" {% if page.url contains '/tutorials/' %} class="active"{% endif %}>Tutorials</a> -->
        <a href="https://github.com/Hub-of-all-Things" class="no-nav js-two-col-no-toggle">Repositories</a>
        <div class="custom-select custom-select--blue js-global-language-select">
          <select name="select" class="js-language-select">
            <option value="raw">raw</option>
            <option value="php">php</option>
            <option value="ruby">ruby</option>
            <option value="python">python</option>
            <option value="javascript">javascript</option>
          </select>
          <div class="arrow"></div>
        </div>
      </div>
    </div>
</nav>
