<section class="reach-out">
    <section class="reach-out__social">
        <h3>Stay in touch</h3>
        <a target="_blank" href="https://www.facebook.com/hubofallthings/" class="icon-social-facebook js-track-link" ></a>
        <a target="_blank" href="https://twitter.com/hubofallthings" class="icon-social-twitter js-track-link" ></a>
        <a target="_blank" href="https://github.com/Hub-of-all-Things" class="icon-social-github js-track-link" ></a>
    </section>
    <section>
        <div class="newsletter">
            <!-- Begin Email Signup Form -->
            <h3>Get updates</h3>
            <div style="width: 100%; background-color: black; padding-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
              <img src="https://static1.squarespace.com/static/5b5988f9b105985261c0a722/t/5b61c6de0e2e7207c4de0066/1533134577002/MadHatters.png?format=300w" />
            </div>
            <form action="//hatdex.us12.list-manage.com/subscribe/post?u=bf49285ca77275f68a5263b83&amp;id=3ca9558266" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <ul class="fields-list js-infield-label">
                  <li>
                    <label for="mce-FNAME">First name</label>
                    <input type="text" value="" name="FNAME" class="" id="mce-FNAME" required>
                  </li>
                  <li>
                    <label for="mce-LNAME">Last name</label>
                    <input type="text" value="" name="LNAME" class="" id="mce-LNAME" required>
                  </li>
                  <li>
                    <label for="mce-EMAIL">Email address</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                  </li>
                  <li>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_bf49285ca77275f68a5263b83_3ca9558266" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe to MadHatters" name="subscribe" id="mc-embedded-subscribe" class="btn secondary"></div>
                    </div>
                  </li>
              </ul>
            </form>
        </div>
      </section>

</section>
