---
layout: twoColumn
section: Dwolla.js
type: article
title:  "Instant account verification"
weight: 1
description: "Quickly integrate instant bank verification for developers using the Dwolla ACH API."
---

# Dwolla.js

## Using Dwolla.js for Instant Account Verification (IAV)
For white label partners, `dwolla.js` has the added function of facilitating Instant Account Verification (IAV) on their Customer's bank or credit union account. By calling a separate function, `dwolla.iav.start()` the white label partner application can render the IAV flow within a specified container. Read more about [funding source verification](/resources/funding-source-verification.html) and how to use dwolla.js to quickly add and verify a white label Customer’s bank account.